## Copyright (C) 2012 - 2018 ENCRYPTED SUPPORT LP <adrelanos@riseup.net>
## See the file COPYING for copying conditions.

Source: vbox-disable-timesync
Section: misc
Priority: optional
Maintainer: Patrick Schleizer <adrelanos@riseup.net>
Build-Depends: debhelper (>= 9), genmkfile, config-package-dev
Homepage: https://github.com/Whonix/vbox-disable-timesync
Vcs-Browser: https://github.com/Whonix/vbox-disable-timesync
Vcs-Git: https://github.com/Whonix/vbox-disable-timesync.git
Standards-Version: 3.9.8

Package: vbox-disable-timesync
Architecture: all
Depends: lsb-base, ${misc:Depends}
Description: Disables VirtualBox guest addition's time synchronization feature
 When VirtualBox guest additions are installed in a VirtualBox Virtual Machine
 (VM), VirtualBox will set the VM's time to the host's time. In most cases,
 this is a useful feature, but not in context of anonymity/privacy, where the
 VM's clock is supposed to differ from the host's clock.
 .
 VirtualBox's feature would interfere with other network time synchronization
 mechanisms, such as sdwdate or bootclockrandomization.
 .
 This package contains an init script, that disables this VirtualBox feature.
